/* Font style */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Global style */
body {
    background-color: #222;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    margin: 50px auto 0;
    display: flex;
    flex-direction: column;
}

/* Heading */
.heading {
    background-color: #500;
    width: 510px;
    border-radius: 10px 10px 0 0;
    height: 150px;
    margin: 0 auto;
}

h1 {
    font-size: 2.5rem;
}

/* Menu */
.menu {
    margin: 0 auto;
    width: 510px;
    height: 25px;
    word-spacing: 10px;
    background-color: #400;
}

/* Buttons */
.btn {
    padding: 0 15px 0 15px;
    outline: none;
    background-color: #400;
    border: none;
    color: #fff;
    height: 100%;
    cursor: pointer;
}

.btn:hover {
    background-color: #500;
}

.game-colors {
    background-color: #500;
    margin: 0 auto;
    padding-top: 15px;
    max-width: 510px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 0 0 10px 10px;
}

.color-box {
    border-radius: 10px;
    width: 150px;
    height: 150px;
    background-color: #111;
    margin: 10px;
}